<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.s16.poetry">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
            android:name=".MainApp"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme.NoActionBar">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.DetailsActivity"
                android:label="@string/empty_string" />
        <activity
                android:name=".activity.ManageCategoriesActivity"
                android:label="@string/title_activity_manage_category" />
        <activity
                android:name=".activity.ManageTagsActivity"
                android:label="@string/title_activity_manage_tag" />
        <activity android:name=".activity.SelectTagActivity" />
        <activity android:name=".activity.SelectCategoryActivity" />
        <activity
                android:name=".activity.SyncActivity"
                android:label="@string/title_activity_sync" />
        <activity
                android:name=".activity.SettingsActivity"
                android:label="@string/title_activity_settings" />

        <provider
                android:name=".sync.SyncProvider"
                android:authorities="com.s16.poetry.sync.provider"
                android:exported="false"
                android:syncable="true"/>

        <service android:name=".sync.AuthenticatorService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>
        <service
                android:name=".sync.SyncService"
                android:exported="false"
                android:process=":sync" />

    </application>

</manifest>